@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #eceff1;
}

body {
    background: #263238;
}

.blue-background {
    background: #0288d1;
}

.red-background {
    background: #c62828;
}

.app {
    text-align: center;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
}

.timeline {
    margin-top: 40px;
}

.timeline > .timeline-item {
    padding: 20px;
    margin-bottom: 30px;
    background: #eceff1;
    color: #273239;
    position: relative;
}

.timeline > .timeline-item > .timeline-date {
    position: absolute;
    top: -8px;
    left: 5px;
}

.timeline > .timeline-item > .timeline-date > span {
    font-size: 12px;
    border-radius: 3px;
    line-height: 10px;
    padding: 5px;
}

.timeline > .timeline-item > .timeline-king {
    font-size: 24px;
    position: absolute;
    top: -14px;
    right: -10px;
    transform: rotate(45deg);
}